---
import BaseLayout from "../layouts/BaseLayout.astro";
import TimeLineElement from "../components/cv/TimeLine.astro";
---

<BaseLayout title="Resume" sideBarActiveItemID="cv">
  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Tech Savvy FP&A and BI Leader</div>
  </div>

  <div class="mb-10 text-justify">
    Experienced FP&A leader known for taking on and solving complex challenges. 
    I manage financial statement models as a system, developing deep expertise of business process drivers 
    and iterating persistently to improve cash flow while upholding the highest fiduciary and ethical standards. 
    I strive to lead and partner with empathy and situational awareness, adapting my style based on context and needs. 
    My goal is to empower leaders and partners to focus on what they do best and win together.
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Education</div>
  </div>

  <div class="time-line-container grid gap-4 mb-10">
    <TimeLineElement
      title="Bachelor of Science in Finance"
      subtitle="2002 to 2006 at University of Illinois, Urbana-Champaign, IL, USA"
    />
    <TimeLineElement
      title="Hoeft Technology & Managment, Class X"
      subtitle="2004 to 2006 at University of Illinois, Urbana-Champaign, IL, USA"
    />
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Experience</div>
  </div>

  <div class="time-line-container mb-10">
    <TimeLineElement
      title="Motorola Mobility"
      subtitle="From 2006 to 2014, Libertyville/Chicago, IL, USA"
    >
      Worked in progressive roles from Financial Analyst to Controller over 8 years <br />
       - Built a global financial reporting web portal that made financial metrics and reports easily accessible <br />
       - Collaborated on IP license subledger that improved speed, accuracy, and reduced man-hours by 80%+ <br />
       - Forecasted cloud services expenses within 5% budget variance <br />
       - Completed expat assignment (London) driving EU accessory sales through financial leadership <br />
       - Contributed to Google acquisition (sell-side) with financial scenario modeling and investor deck automation <br />
       - Partnered with Google leadership to reduce accessory business finance operations costs by 90% <br />
       - Developed excel add-in (VBA) that automated 75% of monthly financial reporting tasks for accessory business
    
    </TimeLineElement>
    <TimeLineElement
      title="Gogo Inflight Communications"
      subtitle="From 2014 to 2018, Chicago, IL, USA"
    >
      Learned to thrive under pressure with constant communication with C-Suite and airline executives <br />
       - Partnered with EMEA Region SVP of Sales and to win airline contracts worth $200M NPV+ <br />
       - Travled to Europe and Middle East to consult airlines on their business case for inflight connectivity <br />
       - Built dynamic financial models to evaluate complex business scenarios for inflight connectivity <br />
       - Presented financial updates on airline RFPs to C-suite in weekly deal status meetings <br />
       - Key finance contributor to design and implementation of 10yr strategic planning model on Oracle PBCS <br />
       - Launched a 30-person volunteer program that mentored at-risk youth in Chicago public schools <br />
       - Contributed to earnings release deck preparation and review with C-Suite and Investor Relations team
    </TimeLineElement>
    <TimeLineElement
      title="Allstate"
      subtitle="From [Start Date] to [End Date] at [Company], [City], [Country]"
    >
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident.
    </TimeLineElement>
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Certifications</div>
  </div>

  <ul class="list-disc mx-6 mb-10 grid gap-2">
    <li>
      <a href="#" target="_blank"> Certification Name (with link)</a>
    </li>
    <li>
      <a href="#" target="_blank"> Certification Name (with link)</a>
    </li>
  </ul>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Skills</div>
  </div>

  <ul class="list-disc md:columns-5 columns-2 mx-6">
    <li>Skill Name</li>
    <li>Skill Name</li>
    <li>Skill Name</li>
    <li>Skill Name</li>
    <li>Skill Name</li>
    <li>Skill Name</li>
    <li>Skill Name</li>
    <li>Skill Name</li>
    <li>Skill Name</li>
    <li>Skill Name</li>
    <li>Skill Name</li>
    <li>Skill Name</li>
    <li>Skill Name</li>
    <li>Skill Name</li>
    <li>Skill Name</li>
  </ul>
</BaseLayout>
