---
import BaseLayout from "../layouts/BaseLayout.astro";
import HorizontalCard from "../components/HorizontalCard.astro";
import { getCollection } from "astro:content";
import createSlug from "../lib/createSlug"
const posts = (await getCollection("blog")).sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);
const last_posts = posts.slice(0, 3);

export const prerender = true;
---

<BaseLayout sideBarActiveItemID="home">
  <div class="pb-12 mt-5">
    <div class="text-xl py-1">Hello 👋</div>
    <div class="text-5xl font-bold">I'm Tim Sipe</div>
    <div class="text-3xl py-3 font-bold">A Corporate leader of FP&A and BI</div>
    <div class="py-2">
      <text class="text-lg">
        <b>FP&A</b> = Financial Planning and Analysis <br />
        <b>BI</b> = Business Intelligence<br /> <br />
        I'm building <b>Praestara</b> <i>(latin for 'to excel')</i> to share my experience building
        <b>complex financial solutions</b>, <b>data visualizations</b>, and <b>business intelligence tools</b>
        that help organizations make informed decisions and drive growth.<br /> <br />
        This site is powered by <a href="https://astro.build/" target="_blank" class="underline">Astro</a> and
        <a href="https://tailwindcss.com/" target="_blank" class="underline">TailwindCSS</a> and a healthy dose of AI.
      </text>
    </div>
    <div class="mt-8">
      <a href="/tim-sipe-cv.pdf" target="_blank" class="btn btn-outline ml-5"> Download CV (PDF)</a>
      <a class="btn" href="https://twitter.com/timjsipe" target="_blank"> Connect on X</a>
      <a class="btn" href="https://www.linkedin.com/in/timjsipe/" target="_blank">
        LinkedIn
      </a>
    </div>
  </div>
  
  <div>
    <div class="text-3xl w-full font-bold mb-2">My last projects {"</>"}</div>
  </div>

  <HorizontalCard
    title="Tabular Financial Model in Excel"
    img="/post_img.webp"
    desc="Generate time-series data from assumptions with List.Accumulate() to simplify the most complex business combination and financial scenarios."
    url="#"
    badge="Excel"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Demo Project 2"
    img="/post_img.webp"
    desc="Coming soon."
    url="#"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Demo BI Project"
    img="/post_img.webp"
    desc="Coming soon."
    url="#"
    badge="Power BI"
  />

  <div>
    <div class="text-3xl w-full font-bold mb-5 mt-10">Latest from blog</div>
  </div>

  {
    last_posts.map((post) => (
      <>
        <HorizontalCard
          title={post.data.title}
          img={post.data.heroImage}
          desc={post.data.description}
          url={"/blog/" + createSlug(post.data.title, post.slug)}
          target="_self"
          badge={post.data.badge}
        />
        <div class="divider my-0" />
      </>
    ))
  }
</BaseLayout>
