---
import BaseLayout from "../layouts/BaseLayout.astro";
import HorizontalCard from "../components/HorizontalCard.astro";
---

<BaseLayout title = "Projects" sideBarActiveItemID="projects">
  <div>
    <div class="text-3xl w-full font-bold mb-5">Financial Modelling Projects</div>
  </div>

  <HorizontalCard
    title="Tabular Financial Model in Excel"
    img="/post_img.webp"
    desc="Generate time-series data from assumptions with List.Accumulate() to simplify the most complex business combination and financial scenarios."
    url="#"
    badge="Excel"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Demo Financial Modeling Project 2"
    img="/post_img.webp"
    desc="Coming soon."
    url="#"
    badge="Excel"
  />

  <div>
    <div class="text-3xl w-full font-bold mb-5 mt-10">BI Projects</div>
  </div>

  <HorizontalCard
    title="Demo BI Project 1"
    img="/post_img.webp"
    desc="Coming soon."
    url="#"
    badge="BI"
  />
  <div class="divider my-0"></div>
 
</BaseLayout>
